// importing fonts

// fonts import successful
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  display: flex;
  display: table;
  display: grid;
  display: block;
}

.container {
  max-width: 95% !important;
}
